@charset "utf-8";

@font-face {
  font-family: raleway-light;
  src: url(../FONTS/Raleway-Light.ttf);
}

@font-face {
  font-family: raleway-lightitalic;
  src: url(../FONTS/Raleway-LightItalic.ttf);
}

@font-face {
  font-family: raleway-regular;
  src: url(../FONTS/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway-regularitalic;
  src: url(../FONTS/Raleway-Italic.ttf);
}

:root {
  --mimic-red: #d10101;
  --mimic-red-opacity: rgba(209, 1, 1, 0.6);
  --mimic-blue: #03a9d9;
}

.container {
    margin: auto;
    display: block;
}

.mainTitle { /*Navigation Bar + Background Space*/
    float: left;
    width: 100%;
    height: 52px;
    display: block;
    margin: 0 auto;
    background:  rgb(79, 78, 78);
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    left: 0px;
    opacity: 0.8;

}

.mainTitleChanged {
  opacity: 1;
}

#logoWords {
    font-size: 1.2rem;
    margin-top: -30px;
    color: white;
}

#logoContainer {
    width: 357px;
    height: 100%;
    display:inline-block;
    margin-left: 15px;
}

#Silhouette_Logo {
    height: 38px;
    padding-top: 6px;
    display: inline-block;
    position: absolute;
    top: -8px;
}

#Wolf_Logo {
    height: 40px;
    padding-top: 6px;
    display: none;
}

.first-nav-item {
    display: none;
}

.nav-item {
    display: none;
}

.nav-trigger {
	display: none;
}

label[for="nav-trigger"] {
	display: none;
}

.nav-trigger:checked + label {
	display: none;
}

.nav-trigger:checked ~ ul.navigation {
    display: none;
}

.nav-trigger:checked ~ .container {
    display: none;
}

.nav-trigger + label, .container {

}

#topNavigation, ul#my_menu li {
    list-style: none;
}

#topNavigation { /*Naviagtion Bar*/
    margin: 0 auto;
    text-align: left;
    display: inline;
    position: relative;
    top: -76px;
    left: 14px;
}

    #topNavigation li { /*Navigation Bar Single Entry*/
        display: table-cell;
        vertical-align: bottom;
        float: left;
        width: 10%;
        height: 100px;
        text-align: right;
    }

html {
    position: relative;
    min-width: 1024px;
    height: 0%;
    z-index: -1000;
}

#topNavigation li a { /*Navigation Bar Single Entry Text*/
    display: table-cell;
    text-decoration: none;
    color: #000;
    font-family: inherit;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 60px 10px 5px 10px;
    width: 400px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}

#topNavigation li :hover { /*Naviagtion Bar Single Entry During Hover*/
    background-color: lightblue;
}

#topNavigation li a:hover { /*Naviagtion Bar Single Entry Text During Hover*/
    color: #ffffff;
}

body { /*General Page Stuff*/
    margin-left: -0px;
    width: 102%;
    alignment-adjust: central;
    height: 100%;
    background: #333333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: raleway-regular;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: text;
    -ms-user-select: text;
}

#mainSection {
    float: left;
    width: 100%;
    background: #CCC;
}

    #mainSection section {
        float: left;
        width: 100%;
        height: 295px;
        padding-left: 35px;
        padding-right: 10px;
    }

#container1 {
    float: left;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    z-index: -5;
}

.leftsplit1 {
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    min-height: 1px;
    right: 0%;
    z-index: -3;
}

.leftsplit2 {
    text-align: center;
    line-height: 300px;
    display: inline-block;
    position: relative;
    min-height: 1px;
    z-index: -3;
}

.rightsplit1 {
    line-height: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 4%;
    Right: 10%;
    min-height: 1px;
    z-index: -3;
}

.rightsplit2 {
    text-align: center;
    line-height: 200px;
    text-align: center;
    display: inline-block;
    position: relative;
    min-height: 1px;
    right: -13%;
    z-index: -3;
}

#footer {
    float: left;
    width: 100%;
    margin-bottom: -5px;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.8rem;
	letter-spacing: 0.001em;
	font-size: 1.2rem;
}

.Panel { /*Panel Stuff*/
    position: relative;
    margin: 0 3rem;
    padding: 0rem 0rem;
    color: #000;
    font-size: 1.125rem;
    float: left;
    background: rgba(255,255,255, 1);
    z-index: -2;
    width: 90%;
    display: none;
}

.header { /*Header Display*/
    display: block;
}

:target { /*Javascript Scolling Animation Offset*/
    padding-top: 40px;
}

.slick-slider /*Gallery CSS Overwrite*/
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-prev /*Gallery Arrow Stuff*/
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none;

    width: 70px;
    height: 70%;
    padding: 0;

    padding-right: 25px;
    margin-left: 17px;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index: 1;
}

.slick-next /*Gallery Arrow Stuff*/
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none;

    width: 70px;
    height: 70%;
    padding: 0;

    padding-left: 25px;
    margin-right: 17px;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index: 1;
}
.Image_Gallery { /*Desktop Gallery Stuff*/
  margin-left: -5px;
}

.tablet-gallery { /*Tablet Gallery Stuff*/
    display: none;
}

#mobileInformation {
    display: none;
}

.footer-block {
    background-color: violet;
    display: inline;
    width: 100px;
}

#footer-main {
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    background: #333333;
}

.blockedText {
    display: block;
}

aside {
    background: #333333;
}

.socialMediaStuff {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 88vw;
    height: 50px !important;
}

.socialMediaStuff {
    display: none;
}

.Mobile_Explinations {
    display: none;
}

#Jacks_Description {
  position: absolute;
  top: 32%;
  left: 27%;
  width: 100%;
  max-width: 22%;
}

#Jacks_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2vw;
  letter-spacing: 0.001em;
  font-size: 1.2vw;
  font-weight: lighter;
  color: #e6e6e6;
}

#Charlies_Description {
  position: absolute;
  top: 32%;
  left: 50%;
  width: 100%;
  max-width: 23%;

}

#Charlies_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2vw;
  letter-spacing: 0.001em;
  font-size: 1.2vw;
  font-weight: lighter;
  color: #e6e6e6;
}

#Dans_Description {
  position: absolute;
  top: 32%;
  left: 2%;
  width: 100%;
  max-width: 23%;
}

#Dans_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2vw;
  letter-spacing: 0.001em;
  font-size: 1.2vw;
  font-weight: lighter;
  color: #e6e6e6;
}

#Richards_Description {
  position: absolute;
  top: 32%;
  left: 74.5%;
  width: 100%;
  max-width: 25%;
}

#Richards_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2vw;
  letter-spacing: 0.001em;
  font-size: 1.2vw;
  font-weight: lighter;
  color: #e6e6e6;
}

#dropShadow {
  margin-top: 51px;
}

#line {
  border-right: 4px solid #333333;
  z-index: 0;
  width: 1px;
  height: 31.7vw;
  position: absolute;
  left: 48%;
}

#Character_Explination_Title {
  color: white;
  background-color: #333333;
  height: 49px;
  font-family: Ebrima;
  font-size: 3.5vw;
  padding-top: 15px;
  padding-left: 15px;
  text-align: center;
}

#Character_Explination {
  width: 50%;
  display: inline-block;
  margin-top: 10px;
}

#span1 {
  color: white;
  vertical-align: top;
  text-align:right;
  max-width: 68%;
  margin-top: 7%;
  display: inline-block;
  float: none;
  min-width:30%;
  margin-left: 6%;
  font-size: 1.5vw;
  line-height: 2vw;
}

#span2 {
color: white;
display:inline-block;
max-width: 68%;
margin-left: 10px;
vertical-align: middle;
text-align:left;
margin-top:-22%;
font-size: 1.5vw;
line-height: 2vw;
}

.character {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  background-color: #333333;
  height: 62px;
  font-family: Ebrima;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right
}

.tARight {
  text-align: right;
}

.fullBlock {
  width: 100vw;
  display: block;
  background-color: #444444;
}

.halfBlock {
  width: 49.8%;
  display: inline-block;
  background-color: #444444;
}

.text {
  max-width: 46%;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  color: #FCFCFC;
  font-size: 1.4vw;
  margin-right: 20px;
  margin-left: 20px;
}

.noMaxWidth {
  max-width: 100%;
}

.centerPiece {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

.imagePlaceHolder {
  width: 100px;
  height: 100px;
  background-color: #FF69B4; /*Hot Pink*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imagePlaceHolder {
  background-color: #FF69B4;
}

.horizontalLine {
  width: 200px;
  height: 2px;
  background-color: #FF69B4; /*Hot Pink*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mimic{
  max-width: 80%;
  vertical-align: top;
  text-align: center;
  font-size: calc(0.6rem + 0.5vw);
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 30px;
  letter-spacing: 3px;
}

.tALeft {
  text-align: left;
}

.tACenter {
  text-align: center;
}

.vAMiddle {
  vertical-align: middle;
}

.bACenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.noBackground {
  background: none;
}

.split {
  width: 101vw;
  min-height: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.parallax {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: -4.5vw;
  padding-bottom: 4.5vw;
  height: 100vh;
}

.parallax-layer {
}

.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}

.parallax-layer-base {
  transform: translateZ(0);
}

.dropdownButton {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-image: url(../IMG/hamburger-menu-icon-white.png);
  background-position: center;
}

.dropdownButton:hover, .dropdownButton:focus {
  background-color: #333333;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 103px;
}

.dropdownContent a {
  color: white;
  padding: 15px 15px;
  display: block;
}

.dropdownContent a:hover {
  background-color: #333333;
}

.show {
  display: block;
}

.noShow {
  display: none;
}

#link1 {
  display: inline-block;
  position: absolute;
  height: 42px;
  left: calc(85vw - 180px);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

#link2 {
  display: inline-block;
  position: absolute;
  height: 42px;
  left: calc(85vw);
  margin-right: auto;
  margin-left: auto;
  padding-top:10px;
}

.links {
  height: 52px;
}

.links a {
  text-align: center;
  padding: 0px 15px;
  color: #FCFCFC;
  text-decoration: none;
  font-size: 32px;
  font-family: raleway-regular;
  font-weight: 300;
}

.links a:hover {
  background-color: var(--mimic-red-opacity);
}

.homePageFront {
  background-color: #FFFFFF;
  height: 49vw;
}

.webDesignFront {
  background-color: #333333;
  height: 49vw;
}

.dispNoneDesktop {
  display: none;
}
