@charset "utf-8";

.container {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #4f4e4e;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 0;
}

#mainTitle { /*Navigation Bar + Background Space*/
    float: left;
    width: 100%;
    height: 75px;
    display: block;
    margin: 0 auto;
    background: #4f4e4e;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 10;
    left: 0px;
}

#logoWords {
    font-size: 2rem;
    margin-top: -55px;
    display: inline-block;
    color: white;
}

#logoContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logoPicture {
    height: 60px;
    margin-top: 10px;
    display: none;
}

#logoPicture2 {
    height: 40px;
    padding-top: 6px;
    display: inline-block;
}

.navigation {
    list-style: none;
    background: #111;
    max-width: inherit;
    height: 50px;
    position: fixed;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.first-nav-item {
    margin-left: 50px;
}

.nav-item {
    margin-left: 50px;
}

.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 13;
	width: 30px;
	height: 30px;
	cursor: pointer;
	content: "☰";
    border: 1px solid white;
	background-size: contain;
}

.nav-trigger:checked + label {
	top: 115px;
}

.nav-trigger:checked ~ ul.navigation {
    top: 60px;
    height: 100px;
}

.nav-trigger:checked ~ .container {
    top: 150px;
}

.nav-trigger + label, .container {
    transition: top 0.2s;
}

#topNavigation, ul#my_menu li {
    list-style: none;
}

#topNavigation { /*Naviagtion Bar*/
    margin: 0 auto;
    text-align: left;
    display: inline;
    position: relative;
    top: -76px;
    left: 14px;
}

    #topNavigation li { /*Navigation Bar Single Entry*/
        display: table-cell;
        vertical-align: bottom;
        float: left;
        width: 10%;
        height: 100px;
        text-align: right;
    }

html {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 0%;
    background-color: #111;
}

#topNavigation li a { /*Navigation Bar Single Entry Text*/
    display: table-cell;
    text-decoration: none;
    color: #000;
    font-family: inherit;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 60px 10px 5px 10px;
    width: 400px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}

#topNavigation li :hover { /*Naviagtion Bar Single Entry During Hover*/
    background-color: lightblue;
}

#topNavigation li a:hover { /*Naviagtion Bar Single Entry Text During Hover*/
    color: #ffffff;
}

body { /*General Page Stuff*/
    margin: 0 auto;
    width: 100%;
    alignment-adjust: central;
    height: 0%;
    /*! padding-top: 150px; */
    background: #444444;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Raleway";
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: text;
    -ms-user-select: text;
}

#mainSection {
    float: left;
    width: 100%;
    background: #CCC;
}

    #mainSection section {
        float: left;
        width: 100%;
        height: 295px;
        padding-left: 35px;
        padding-right: 10px;
    }

#container1 {
    float: left;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    z-index: -2;
}

.leftsplit1 {
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    min-height: 1px;
    right: 0%;
    z-index: 0;
}

.leftsplit2 {
    text-align: center;
    line-height: 300px;
    display: inline-block;
    position: relative;
    min-height: 1px;
    z-index: 0;
}

.rightsplit1 {
    line-height: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 4%;
    Right: 10%;
    min-height: 1px;
    z-index: 0;
}

.rightsplit2 {
    text-align: center;
    line-height: 200px;
    text-align: center;
    display: inline-block;
    position: relative;
    min-height: 1px;
    right: -13%;
    z-index: 0;
}

#footer {
    float: left;
    width: 100%;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: 2.4rem;
	letter-spacing: 0.001em;
	font-size: 2.2rem;
}

.full-width-tinted { /*Panel Stuff*/
    position: relative;
    margin: 0 3rem;
    padding: 0rem 0rem;
    color: #000;
    font-size: 1.125rem;
    float: left;
    background: rgba(255,255,255, 1);
    z-index: 1;
    width: 90%;
    display: none;
}

.header { /*Header Display*/
    display: block;
}

:target { /*Javascript Scolling Animation Offset*/
    padding-top: 40px;
}

.slick-slider /*Gallery CSS Overwrite*/
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-prev /*Gallery Arrow Stuff*/
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none;

    width: 50px;
    height: 50px;
    padding: 0;

    padding-right: 25px;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index: 4;
}

.slick-next /*Gallery Arrow Stuff*/
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none;

    width: 50px;
    height: 50px;
    padding: 0;

    padding-left: 25px;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index: 4;
}
.single-item { /*Desktop Gallery Stuff*/
    
}

.tablet-gallery { /*Tablet Gallery Stuff*/
    display: none;
}

#mobileInformation {
    display: none;
}

.footer-block {
    background-color: violet;
    display: inline;
    left: 0;
    width: 100px;
}

#footer-main {
    width: 100%;
    height: 100px;
    border-top: 1px solid black;
    background: #333333;
}

.blockedText {
    display: block;
}

aside {
    background: #333333;
}

#socialMediaStuff {
    display: inline-block;
}

#OurLogoDesktop {
    display: none;
}

.DesktopCharacterSections {
    display: none;
}

.largeImage {
    display: none;
}

.MobileCharacterSections {
    display: block;
}