@charset "utf-8";

.container {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #4f4e4e;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 0;
}

#mainTitle { /*Navigation Bar + Background Space*/
    float: left;
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
    background: #4f4e4e;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 10;
    left: 0px;
}

#logoWords {
    font-size: 2rem;
    margin-top: -55px;
    display: inline-block;
    color: white;
}

#logoContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#Silhouette_Logo {
    height: 90px;
    margin-top: 20px;
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 150px;

}

.navigation {
    list-style: none;
    background: #111;
    width: inherit;
    height: 40px;
    position: fixed;;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    padding-left: 0px;
    margin-right: 40px;
    display: none;
}

.first-nav-item {
    display: inline-block;
    color: white;
    margin-bottom: 40px;
    margin-top: 24px;
}

.nav-item {
    margin-left: 50px;
    display: inline-block;
}

.nav-trigger {
	position: fixed;
	clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
	position: fixed;
	top: 30px;
	left: 40px;
	z-index: 13;
	width: 70px;
	height: 70px;
	cursor: pointer;
	content: "";
  background-image: url(../IMG/hamburger-menu-icon-black.png);
  font-size: 40px;
	background-size: contain;
  display: block;
}

.nav-trigger:checked + label {
	  top: 200px;
    color: white;
    display: block;
    background-image: url(../IMG/hamburger-menu-icon-white.png);
}

.nav-trigger:checked ~ ul.navigation {
    margin-top: 150px;
    height: 150px;
    display: block;
}

.nav-trigger:checked ~ .container {
    top: 155px;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #4f4e4e;
    position: relative;
    display: block;
    bottom: 100%;
    left: 0;
    z-index: 0;
}

.nav-trigger + label, .container {
    transition: top 0.2s;
}

#topNavigation, ul#my_menu li {
    list-style: none;
}

#topNavigation { /*Naviagtion Bar*/
    margin: 0 auto;
    text-align: left;
    display: inline;
    position: relative;
    top: -76px;
    left: 14px;
}

    #topNavigation li { /*Navigation Bar Single Entry*/
        display: table-cell;
        vertical-align: bottom;
        float: left;
        width: 10%;
        height: 100px;
        text-align: right;
    }

html {
    position: relative;
    z-index: -1000;
    background: #4f4e4e;
}

#topNavigation li a { /*Navigation Bar Single Entry Text*/
    display: table-cell;
    text-decoration: none;
    color: #000;
    font-family: inherit;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 60px 10px 5px 10px;
    width: 400px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}

#topNavigation li :hover { /*Naviagtion Bar Single Entry During Hover*/
    background-color: lightblue;
}

#topNavigation li a:hover { /*Naviagtion Bar Single Entry Text During Hover*/
    color: #ffffff;
}

body { /*General Page Stuff*/
    margin: 0 auto;
    width: 100%;
    alignment-adjust: central;
    height: 100%;
    background: #444444;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: scr;
    font-family: "Raleway";
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: text;
    -ms-user-select: text;
}

#mainSection {
    float: left;
    width: 100%;
    background: #CCC;
}

    #mainSection section {
        float: left;
        width: 100%;
        height: 295px;
        padding-left: 35px;
        padding-right: 10px;
    }

#container1 {
    float: left;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    z-index: -2;
}

.leftsplit1 {
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    min-height: 1px;
    right: 0%;
    z-index: 0;
}

.leftsplit2 {
    text-align: center;
    line-height: 300px;
    display: inline-block;
    position: relative;
    min-height: 1px;
    z-index: 0;
}

.rightsplit1 {
    line-height: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 4%;
    Right: 10%;
    min-height: 1px;
    z-index: 0;
}

.rightsplit2 {
    text-align: center;
    line-height: 200px;
    text-align: center;
    display: inline-block;
    position: relative;
    min-height: 1px;
    right: -13%;
    z-index: 0;
}

#footer {
    float: left;
    width: 100%;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: 2.4rem;
	letter-spacing: 0.001em;
	font-size: 2.2rem;
}

.Panel { /*Panel Stuff*/
    position: relative;
    margin: 0 3rem;
    padding: 0rem 0rem;
    color: #000;
    font-size: 1.125rem;
    float: left;
    background: rgba(255,255,255, 1);
    z-index: 1;
    width: 90%;
    display: none;
}

.header { /*Header Display*/
    display: block;
}

:target { /*Javascript Scolling Animation Offset*/
    padding-top: 40px;
}

.slick-slider /*Gallery CSS Overwrite*/
{
    position: relative;

    width: 100vw !important;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    height: 100% !important;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    text-align: center;
    width: 100vw !important;
    margin-top: 20px;
}

.slick-prev /*Gallery Arrow Stuff*/
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none !important;

    width: 70px;
    height: 70%;
    padding: 0;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index: 4;
}

.slick-next /*Gallery Arrow Stuff*/
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none !important;

    width: 70px;
    height: 70%;
    padding: 0;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index: 4;
}

.Image_Gallery { /*Desktop Gallery Stuff*/
    display: block;
    margin-top: 120px;
}

.tablet-gallery { /*Tablet Gallery Stuff*/
    display: none;
}

#mobileInformation {
    display: none;
}

.footer-block {
    background-color: violet;
    display: inline;
    left: 0;
    width: 100px;
}

#footer-main {
    width: 100%;
    height: 30px;
    border-top: 1px solid black;
    background: #333333;
}

.blockedText {
    display: block;
}

aside {
    background: #333333;
}

#Silhouette_Wolf_Social_Media {
    display: none !important;
}

.socialMediaStuff {
    display: none;
}

#OurLogoDesktop {
    display: none;
}

.Desktop_Explinations {
    display: none;
}

.The_System {
    display: none;
}

.Mobile_Explinations {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Jacks_Description {
  position: absolute;
  top: 143px;
  left: 329px;
  width: 100%;
  max-width: 250px;
}

#Jacks_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3rem;
  letter-spacing: 0.001em;
  font-size: 0.85rem;
  font-weight: lighter;
  color: #e6e6e6;
}

#Charlies_Description {
  position: absolute;
  top: 143px;
  left: 614px;
  width: 100%;
  max-width: 250px;
}

#Charlies_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3rem;
  letter-spacing: 0.001em;
  font-size: 0.85rem;
  font-weight: lighter;
  color: #e6e6e6;
}

#Dans_Description {
  position: absolute;
  top: 143px;
  left: 30px;
  width: 100%;
  max-width: 250px;
}

#Dans_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3rem;
  letter-spacing: 0.001em;
  font-size: 0.85rem;
  font-weight: lighter;
  color: #e6e6e6;
}

#Richards_Description {
  position: absolute;
  top: 143px;
  left: 914px;
  width: 100%;
  max-width: 290px;
}

#Richards_Description span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3rem;
  letter-spacing: 0.001em;
  font-size: 0.85rem;
  font-weight: lighter;
  color: #e6e6e6;
}

.Silhouette_Wolf {
  margin-top: 60px !important;
  padding-top: 30px !important;
}

#The_Mimic_Title {
  margin-left: auto; margin-right: auto; display: block; text-align: center;
}
#The_Mimic_Text {
  text-align: center;
}
#Silhouette_Wolf_Title {
  margin-left: auto; margin-right: auto; display: block; text-align: center;
}

#Silhouette_Wolf_Text {
  text-align: center;
}

#mobilePictures {
  box-shadow: 0px 15px 15px #333333;
}

#dropShadow {
  margin-top: 150px;
}

.Test_Explinations {
  display: none;
}

.Test_Explinations_Single {
  display: none;
}

#Test_Explination_Title {
  display: none;
}

#The_Mimic_Title {
  color: white;
  background-color: #333333;
  height: 64px;
  font-family: Ebrima;
  font-size: 40px;
}
#The_Mimic {
  max-width: 80%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #FCFCFC;
  font-size: 1.2vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  letter-spacing: 3px;
}

.character {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  background-color: #333333;
  height: 64px;
  font-family: Ebrima;
  font-size: 40px;
  padding-left: 20px;
}

.tARight {
  text-align: right;
}

.halfBlock {
  width: 50%;
  display: inline-block;
}

.text {
  max-width: 46%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-top: 25px;
  color: #FCFCFC;
  font-size: 1.4vw;
}

.mimic{
  max-width: 80%;
  vertical-align: top;
  text-align: center;
  font-size: calc(0.6rem + 1.5vw);
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 30px;
  letter-spacing: 3px;
  display: none;
}

.firstMobilePicture {
  margin-top: 6.8vw;
}


.tALeft {
  text-align: left;
}

.tACenter {
  text-align: center;
}

.vAMiddle {
  vertical-align: middle;
}

.split {
  width: 100vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.dispNone {
  display: none !important;
}

.dropdownButton {
  background-color: transparent;
  color: white;
  padding: 73px;
  cursor: pointer;
  border: none;
  background-image: url(../IMG/hamburger-menu-icon-white.png);
  background-position: center;
}

.dropdownButton:hover, .dropdownButton:focus {
  background-color: #333333;
}

.dropdown {
  position: absolute;
  display: inline-block;
  padding-top: -1px;
  top: 2px;
  left: 0px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 152px;
}

.dropdownContent a {
  color: white;
  padding: 15px 15px;
  display: block;
  background-color: #4f4e4e;
  border-bottom: 1px black solid;
}

.dropdownContent a:hover {
  background-color: #333333;
}

.show {
  display: block;
}

.parallax-layer-back {
  display: none;
}

#hamburgerMenuIcon {
  width: 60px !important;
}

.noShow {
  display: none;
}

#link1 {
  display: none;
  position: absolute;
  top: 10px;
  left: calc(50vw - 153px);
  margin-right: auto;
  margin-left: auto;
}

#link2 {
  display: none;
  position: absolute;
  top: 10px;
  left: calc(50vw);
  margin-right: auto;
  margin-left: auto;
}

.links a {
  text-align: center;
  padding: 0px 15px;
  color: #FCFCFC;
  text-decoration: none;
  font-size: 1.9vw;
  font-family: Raleway;
  font-weight: 300;
}

.links a:hover {
  border-bottom: 3px solid #FCFCFC;
}
